/* ================================================================================
NAVIGATION
================================================================================ */

nav  {
  background-color: #2A2F35;
}

nav .container {
  width: 90%;
  max-width: 1200px;
}

nav p {
  color: white;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.navbar-toggler-icon {
  background-color: orange;
}

/* ================================================================================
JUMBOTRON
================================================================================ */

.jumbotron {
  background-color: black;
  text-align: center;
  color: white;
  height: 400px;
}

.jumbotron h5 {
  font-weight: 300;
  font-size: 1.3em;
}

.jumbotron h3 {
  color: white;
}

.jumbotron hr {
  width: 400px;
  background-color: white;
}

/* ================================================================================
MAIN
================================================================================ */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F2F2;
}

main {
  width: 85%;
  max-width: 1200px;
  margin: -100px auto 0px auto;
  z-index: 1000;
  box-shadow: 0px 0px 5px 1px #888888;
  background-color: white;
  border-top: 2px solid #F86430;
}

h3 {
  font-weight: 200;
  color: #9E9E9E;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

/* ================================================================================
BOTTOM CONTAINER
================================================================================ */

#bottom-container {
  color: white;
  background-color: #2A2F35;
  border-top: 3px solid #F86430;
  padding: 2rem 1rem 0 1rem;
}

#bottom-container p {
  color: #D7DBDE;
}

 #bottom-container hr {
  height: 2px;
  background-color: #53585B;
}
/* ================================================================================
BACK TO TOP BUTTON
================================================================================ */

#back-to-top-button {
  text-align: center;
}

/* ================================================================================
BOTTOM NAVIGATION
================================================================================ */

#bottom-navigation-container  ul {
  list-style: none;
}

#bottom-navigation-container a {
    color: #D7DBDE;
}

#bottom-navigation-container {
  text-align: right;
}
