/* ================================================================================
MAIN
================================================================================ */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F2F2;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: -80px auto 0px auto;
  z-index: 1000;
  box-shadow: 0px 0px 3px 1px #888888;
  background-color: white;
  border-top: 2px solid #F86430;
}

h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 576px) {
  .heading-container {
    width: 100%;
  }
  .heading-container .btn {
    width: 100%;
  }
}

.images {
  width: 100%;
  margin: auto;
}

@media (max-width: 992px) {
  .images {
    margin-top: 2px;
  }
}

.btn {
  border: none;
  margin-bottom: 1rem;
}

.btn-dark {
  border: none;
  background-color: #2A2F35;
  box-shadow: 0px 0px 2px #2A2F35;
  border-radius: 5px;
  padding: .4rem 1rem;
  transition: .3s;
}

.btn-dark:hover {
  background-color: #E85D44;
}

.btn-light {
  color: white;
  border: none;
  box-shadow: 0px 0px 2px #2A2F35;
  background-color: #E85D44;
  padding: .4rem 1rem;
  transition: .3s;
}

.btn-light:hover {
  color: white;
  background-color: #2A2E31;
  border: none;
}

#works-buttons {
  margin-top: 1rem;
  text-align: right;
}
/* ================================================================================
NAVIGATION
================================================================================ */

nav {
  height: 3.2rem;
  background-color: #1A1D21;
  border-bottom: 1px solid #F86430;
}

nav .container {
  width: 90%;
  max-width: 1200px;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.nav-item {
  padding-left: 1.2rem;
}

.nav-link {
  font-size: .9rem;
  color: white;
}

.nav-link:hover {
  color: #F86430;
  transition: .2s;
}


/* ================================================================================
JUMBOTRON
================================================================================ */

.jumbotron {
  background-image: url("../images/bokeh_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 45%;
  text-align: center;
  color: white;
  height: 350px;
  text-shadow: 0 0 5px maroon, 0 0 1px #2A2F35;
  border-bottom: 1px solid #F86430;
}

.jumbotron h5 {
  font-weight: 300;
  font-size: 1.5rem;
  padding: .5rem 0;
}

.jumbotron hr {
  width: 375px;
  background-color: white;
}

/* ================================================================================
SERVICES CONTAINER
================================================================================ */

.services-header {
  display: inline;
  font-size: .9rem;
  font-weight: 900;
}

.icons {
  display: inline;
}

/* ================================================================================
BOTTOM CONTAINER
================================================================================ */

#bottom-container {
  color: white;
  background-color: #2A2F35;
  border-top: 3px solid #F86430;
  padding: 2rem 1rem 0 1rem;
}

#bottom-container p {
  color: #D7DBDE;
}

 #bottom-container hr {
  height: 2px;
  background-color: #53585B;
}
/* ================================================================================
BACK TO TOP BUTTON
================================================================================ */

#back-to-top-container {
  margin: 1rem 0;
  text-align: center;
}

#back-to-top-button {
  border-radius: 25%;
}

/* ================================================================================
BOTTOM NAVIGATION
================================================================================ */

#bottom-navigation-container  ul {
  list-style: none;
}

#bottom-navigation-container a {
    color: #D7DBDE;
}

#bottom-navigation-container {
  text-align: right;
}
